---
layout: home
title: Nick Bottomley - Front-end Developer
---

<header class="index-header">
  <div class="section-inner">
    <h1 class="text-center">Nick Bottomley
      <small class="my-title subtitle text-italic block">Front-end Developer</small>
    </h1>
  </div>
</header>

<section class="home-section in-progress-section" id="in-progress">
  <div class="section-inner">
    <div class="row">
      <div class="columns small-12">
        <h3 class="text-center">Check back soon</h3>
        <p>I haven't quite found the time to finalize this page, but I'll finish it off as soon as I have a free afternoon. In the meantime, check out what I've been working on , or get in touch.</p>
      </div>
    </div>
  </div>
</section>

<section class="home-section development-section" id="development">
  <div class="section-inner">
    {% include html/development.html %}
  </div>
</section>
 
<section class="home-section contact-section" id="contact">
  <div class="section-inner">
    {% include html/contact.html %}
  </div>
</section>
