---
layout: home
title: Nick Bottomley - Interface Designer & JavaScript Developer
---

<header class="index-header">
  <div class="section-inner">
    <h1 class="text-center">Nick Bottomley
      <small class="my-title subtitle text-italic block">Interface Designer & JavaScript Developer</small>
    </h1>
  </div>
</header>

<section class="home-section in-progress-section" id="in-progress">
  <div class="section-inner">
    <h2>Check back soon</h2>
    <p>I haven't quite found the time to finalize this page, but I'll finish it off as soon as I have a free afternoon.</p>
  </div>
</section>

<!-- 
<section class="home-section about-section" id="about">
  <div class="section-inner">
    {% include html/about.html %}
  </div>
</section>

<section class="home-section development-section" id="development">
  <div class="section-inner">
    {% include html/development.html %}
  </div>
</section>

<section class="home-section home-section" id="showcase">
  <div class="section-inner">
    {% include html/showcase.html %}
  </div>
</section>
-->

<section class="home-section contact-section" id="contact">
  <div class="section-inner">
    {% include html/contact.html %}
  </div>
</section>
