@import "../bower_components/foundation/scss/foundation.scss"

html
  @media #{ $medium-up }
    font-size: 112.5%
  @media #{ $large-up }
    font-size: 125%

.section-inner
  max-width: 95%
  padding-top: 2rem
  padding-bottom: 0
  margin-left: auto
  margin-right: auto
  @media #{ $medium-up }
    width: 40em
  @media #{ $large-up }
    width: 54em

h1, h2, h3, h4, h5, h6
  small
    line-height: inherit

a:hover
  text-decoration: underline

.block
  display: block

.inline
  display: inline

.item__image
  @media #{ $medium-up }
    height: 4rem
    margin: 1rem 0

.item__image__inner
  height: 100%
  background-size: cover
  background-position: center center

@import "resume"

