<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript" src="//use.typekit.net/hbf7tpm.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <!-- all.css contains css partials from _includes/css -->
        <link rel="stylesheet" href="{{ site.css_path }}/all.css">

    </head>
    <body>
        
        <div class="layout-{{ page.layout }}">

            {{ content }}

        </div>
      
      {% include html/scripts.html %}
      
    </body>
</html>